---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Font Import
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,700);

@charset "utf-8";



// Our variables
$base-font-family: 'Work Sans', sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #3492CC;
$background-color: white;
$brand-color:      #3492CC;

$brand-color-light: lighten($brand-color, 40%);
$brand-color-dark:  darken($brand-color, 25%);

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1080px;
$on-palm:          600px;
$on-laptop:        800px;

//borders
$border: 1px solid $text-color;

// transitions
$transition-ease: all .1s ease;
$transition-in-out: all .3s ease-in-out;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

@mixin breakpoint($name) {
  @if $name == "small" {
    @media (max-width: 768px) {
      @content;
    }
  }
  @else if $name == "medium" {
    @media (max-width: 1024px) {
      @content;
    }
  }
  @else if $name == "large" {
    @media (min-width: 1025px) {
      @content;
    }
  }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "base",
    "layout",
    "syntax-highlighting",
    "nav",
    "normalize",
    "home",
    "projects",
    "elements",
    "footer"
;
