---
title: Blog
permalink: /blog/
layout: default
---
<div class="container blog">

  <section class="row">
    <div class="page-title">
      <h1>Blog</h1>
    </div>
  </section>

  <div class="row">

    <ul class="post">

      <!-- for paginator switch out site for paginator  -->
      {% for post in site.posts %}
        <li class="post__item">
          <a class="post__title" href="{{ post.url | prepend: site.baseurl }}"><h2>{{ post.title }}</h2></a>
          <div class="post__meta">
            <b class="post__author">{{ post.author }}</b>
            <b class="post__sep">&#x25cf;</b>
            <b class="post__date">{{ post.date | date: "%b %-d, %Y" }}</b>
          </div>

          <p class="post__excerpt">{{ post.excerpt }}</p>

          <a class="post__btn btn-primary" href="{{ post.url | prepend: site.baseurl }}">Read more</a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <!-- paginator code -->
   <!--  {% if paginator.total_pages > 1 %}
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
      {% else %}
        <span>&laquo; Prev</span>
      {% endif %}

      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <em>{{ page }}</em>
        {% elsif page == 1 %}
          <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
        {% else %}
          <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
      {% else %}
        <span>Next &raquo;</span>
      {% endif %}
    </div>
    {% endif %}
  </div> -->
</div>
