<footer class="main-footer" role="contentinfo">

	<nav class="secondary-navbar" role="navigation">
		<ul class="nav">
			<li {% if location == "" %} class="nav__item--current" {% else %} class="nav__item" {% endif %}>
           		<a href="/">Home</a>
        	</li>
		{% for page in site.pages %}

			<!-- Compare the page title to the URL -->
			{% assign current = page.title | downcase %}

			{% if page.title %}
			<li {% if location == current %} class="nav__item--current" {% else %} class="nav__item" {% endif %}>
			  / <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
			</li>
			{% endif %}

		{% endfor %}
		</ul>
	</nav>

	<div class="social">
		<ul>
			<li><a href="https://www.linkedin.com/in/will-gallop-0840a027"><i class="fa fa-linkedin"></i></a></li>
			<li><a href="https://twitter.com/wgallop9"><i class="fa fa-twitter"></i></a></li>
			<li><a href="https://github.com/wgallop99"><i class="fa fa-github"></i></a></li>
		</ul>
	</div>

</footer>
