<section class="extended-footer">
	<div class="row">
		<h1>Get in touch.</h1>
		<p>If you need help on a project, want to say hey, or just need a dog sitter, let me know!</p>
		<div class="btn-holder">
			<a href="mailto:wgallop99@gmail.com" class="btn-primary"><i class="fa fa-envelope"></i> Message me</a>
		</div>
	</div>
</section>


<footer class="main-footer" role="contentinfo">

	<div class="copyright">
		<p>© {{ 'now' | date: "%Y" }} Will Gallop. All rights reserved.</p>
	</div>

	<div class="social">
		<ul>
			<li><a href="https://www.linkedin.com/in/will-gallop-0840a027"><i class="fa fa-linkedin"></i></a></li>
			<li><a href="https://twitter.com/wgallop9"><i class="fa fa-twitter"></i></a></li>
			<li><a href="https://github.com/wgallop99"><i class="fa fa-github"></i></a></li>
		</ul>
	</div>

</footer>
