<!-- Capture and store a URL -->
{% capture location %}{{ page.url | split:'/' }}{% endcapture %} 

<header class="main-header" role="banner">
  <a id="nav-toggle" href="#"><span></span></a>
  <div class="header-container">
    <a class="site-logo" href="/" title="home">
      <img src="../img/WGLogo2.png" alt="">
    </a>
    <nav class="navbar" id="mobile-menu" role="navigation">
      <ul class="nav">
        <li {% if location == "" %} class="nav__item--current" {% else %} class="nav__item" {% endif %}>
           <a href="/">Home</a>
        </li>
      {% for page in site.pages %}
        
        <!-- Compare the page title to the URL -->
        {% assign current = page.title | downcase %}

        {% if page.title %}
        <li {% if location == current %} class="nav__item--current" {% else %} class="nav__item" {% endif %}>
          <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        </li>
        {% endif %}
        
      {% endfor %}
      </ul>
    </nav>
  </div>
</header>
