/* Blog styles  */

.blog {

	.page-title	{
		text-align: center;
	}

	div.row {
		max-width: 700px;
		padding-top: 0;
	}

	.post {
		list-style-type: none;

		h2 {
			text-decoration: underline;
		}

		p {
			padding: 0 0 5px 0;
			color: black;
		}

		.post__tags {
			font-size: 12px;
			color: $lipstick;
		}
	}

	.post__item {
		padding: 40px 0;
		border-bottom: $border;
	}

	.post__item:first-child {
		padding-top: 0;
	}

	.post__item:last-child {
		border-bottom: none;
	}
}


/* Single post templated styles */

.single-post {

	.post__title--grouped {
		margin: 0;
	}

	.row {
		max-width: 700px;
	}

	.post__header {
		text-align: center;
	}

	.post__meta {
		padding: 0 0 40px 0;
		border-bottom: $border;
	}

	.post__author {
		color: $lipstick;
		font-size: 12px;
	}

	article {
		padding-top: 20px;

		p {
			color: black;
		}
	}

	.comment {
		background: $brand-color-light;
	}
}