// General Element Style Overrides

h1 {

}

h2 {
	margin: 0;
}

h3 {
	
}

h4 {

}

h5 {

}

// links and buttons
a {
	color: $brand-color;
	transition: $transition-in-out;
	text-decoration: none;


	&:active {
		color: $brand-color;
		text-decoration: none;
	}

	&:visited {
		color: $brand-color;
		text-decoration: none;
	}

	&:hover {
		color: $brand-color-dark;
		text-decoration: none;
	}
}

.btn-animated {
	position: relative;

	&:before{
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		bottom: -5px;
		left: 0;
		background-color: $brand-color-dark;
		visibility: hidden;
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		-webkit-transition: all 0.3s ease-in-out 0s;
		transition: all 0.3s ease-in-out 0s;
	}

	&:hover:before {
		visibility: visible;
		-webkit-transform: scaleX(.5);
		transform: scaleX(.5);
	}
}

.btn-primary {
	border: $border;
	padding: 10px 20px;
	transition: $transition-in-out;
	border-radius: 3px;

	&:hover {
		background: $text-color;
		color: white;
		text-decoration: none;
	}
}

.btn-secondary {
	color: white;
	background: $lipstick;
	border: none;
	padding: 10px 20px;
	transition: $transition-in-out;
	border-radius: 3px;

	&:hover {
		background: darken($lipstick, 10%);
		text-decoration: none;
	}

	&:visited {
		color: white;
	}
}