
// Homepage Custom Styles

.hero-intro {
	height: 100vh;
	background: url('../img/blueridge.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
	position: relative;
}

// Arrow Styles
.scroll-arrow {
	text-align: center;
	position: absolute;
	bottom: 100px;
	left: 0;
	right: 0;
  color: white;

	a {
		font-size: 4em;
		cursor: pointer;
		padding: 5px;
		-webkit-transition: all .5s linear 0s;
		transition: all .5s linear 0s;
		border: 5px solid transparent;
		border-radius: 100%;
		-moz-animation: animate 2s infinite;
		-webkit-animation: animate 2s infinite;
		animation: animate 2s infinite;
    color: white;

    &:visited {
      color: white;
    }

		&:after {
	  		content: "Click Me!";
	  		text-align: center;
		    font-size: 19px;
		    position: absolute;
		    width: 100px;
		    top: -30px;
		    left: -29px;
		    display: none;
	 	}

	 	&:hover {
	 		text-decoration: none;
	 	}

	 	&:hover:after {
	 		text-decoration: none;
	    	display: inline-block;
	 	}
  }
}


// Arrow Animation

@-moz-keyframes animate {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes animate {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes animate {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

///////////////////////////////////////////////////

.seperator-img {
  height: 50vh;
  background: url('../img/blueridge.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

////////////////////////////////////////////////////


.about {

  img {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 5px solid #3492CC;
    margin: 0 auto 40px auto;
  }

	p {
		font-size: 20px;
		line-height: 2;
	}
}


.skills {
  background: $brand-color;
  text-align: center;
  clear: both;
  
  h2, h3, p {
    color: white;
  }

  .col {
    vertical-align: top;
    width: 33.3%;
    float: left;
    display: inline-block;
  }
}



