
// Homepage Custom Styles

.hero-intro {
	height: 100vh;
	background: lighten($brand-color, 40%);
  background-size: cover;
  background-attachment: fixed;
	position: relative;

  width: 100%;
  display: table;

  .hero-intro__center {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;

    .row {
      vertical-align: top;
    }
  }

  .shadow-cont {
    width: 100%;
    height: 50px;
    position: relative;
  }

  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: black;
    width: 50px;
    height: 30px;
    margin: 50px auto 0 auto;
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 100px / 50px;
    background: rgba(20, 20, 20, .4);
    
    -webkit-transition: all 5s linear 0s;
    transition: all 5s linear 0s;
    animation: shadow-expand 5s infinite;
  }

  .hero-avatar {
    display: inline-block;
    width: 50%;

    img {
      height: 300px;
      -moz-animation: up-down 5s infinite;
      -webkit-animation: up-down 5s infinite;
      animation: up-down 5s infinite;
      -webkit-transition: all 5s linear 0s;
      transition: all 5s linear 0s;
    }
  }

  .hero-content {
    display: inline-block;
    width: 50%;
    float: right;
    text-align: left;
  }
}

// Arrow Styles
.scroll-arrow {
	text-align: center;
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;

	a {
		font-size: 4em;
		cursor: pointer;
		padding: 5px;
		border: 5px solid transparent;
		border-radius: 100%;
    color: white;

    &:visited {
      color: white;
    }

	 	&:hover {
	 		text-decoration: none;
      color: white;
	 	}
  }
}

///////////////////////////////////////////////////

.seperator-img {
  height: 50vh;
  background: url('../img/blueridge.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to top left, #000000, #3492CC);
    opacity: .8; 
  }
}

////////////////////////////////////////////////////


.about {

  img {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 3px solid $lipstick;
    margin: 0 auto 40px auto;
  }

	p {
		font-size: 20px;
		line-height: 2;
	}
}

@include breakpoint("small") {

  .container .skills .col {
    width: 100%;
    display: block;
    float: none;
    margin: 40px 0;
  }

}

.skills {
  background: $brand-color;
  text-align: center;
  clear: both;
  
  h1, 
  p {
    color: white;
    padding: 0 10px;
  }

  h3 {
    color: white;
    font-size: 40px;
  }

  .col {
    vertical-align: top;
    width: 33.3%;
    float: left;
    display: inline-block;
    margin: 20px 0;
  }

  .btn-holder {
    display: block;
    padding: 20px 0;
    clear: both;
  }
}

////////////////////////////
// Home Animations
////////////////////////////


// Avatar up and down

@-moz-keyframes up-down {
    0%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}
@-webkit-keyframes up-down {
    0%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}

@keyframes up-down {

  0%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}

////////////////////////////
/// Shadow Expand 
//////////////////////////

@-moz-keyframes shadow-expand {
  0%, 100% {
    width: 100px;
  }

  50% {
    width: 50px; 
    height: 10px;
  }
}

@-webkit-keyframes shadow-expand {
  0%, 100% {
    width: 100px;
  }

  50% {
    width: 50px; 
    height: 10px;
  }
}

@keyframes shadow-expand {
  0%, 100% {
    width: 100px;
  }

  50% {
    width: 50px; 
    height: 10px;
  }
}


