
// Uniform Layout Custom Styles

.container {
    display: block;
    margin: 0;
    width: 100%;
    padding-top: 0 20px;
}


// Row Styling 

.row {
    max-width: $content-width;
    margin: 0 auto;
    padding: 40px 20px;
    overflow: hidden;
}

// Nav Offset 

.page-title {
	margin-top: 100px;
}