
/**
 * Header and Nav Styles
 */

/* Responsive Nav Styles */
html.noScroll {
	overflow-y: hidden;
}

#nav-toggle { 
	display: none;
	cursor: pointer; 
	padding: 11px 27px 16px 0px; 
	position: absolute;
	right: 70px;
	z-index: 999;
}

#nav-toggle span, 
#nav-toggle span:before,
#nav-toggle span:after {
	cursor: pointer;
	border-radius: 1px;
	height: 2px;
	width: 27px;
	background: $text-color;
	position: absolute;
	display: block;
	content: '';
	transition: all .5s ease;
}

#nav-toggle span:before {
	top: -7px;
}

#nav-toggle span:after {
	bottom: -7px; 
}

/* active styles */

#nav-toggle.open span {
	background: transparent;
}	

#nav-toggle.open span:before, 
#nav-toggle.open span:after {
	top: 0;
}

#nav-toggle.open span:before {
	transform: rotate(-45deg);
}

#nav-toggle.open span:after {
	transform: rotate(45deg);
}

@include breakpoint("small") {
	
	header #nav-toggle {
		display: block;
	}

	header nav.navbar {
		display: none;
	}
}


/* Main header styles */

.main-header {
 	width: 100%;
    padding: 40px 0;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;


    .site-logo {
    	padding-left: 70px;

    	img {
    		width: 50px;
    		height: 50px;
    	}
    }

 	nav {
 		display: block;
 		float: right;
 		margin-right: 50px;
 		padding: 12px 0;
 	}

 	ul {
 		list-style-type: none;
 		margin: 0;
 		padding: 0;

 		li {
 			display: inline-block;
 			padding: 0 20px;
 			vertical-align: middle;
 		}
 	}
 }

/*  Special State Nav Classes */

header.main-header--narrow {
 	-webkit-box-shadow: 0 0.063em 0.25em rgba( 37, 50, 55, .25 );
    box-shadow: 0 0.063em 0.25em rgba( 37, 50, 55, .25 );
    padding: 20px 0;
    background: rgba(255, 255, 255, 0.8);
 }

header.main-header--hidden {
    -webkit-transform: translateY( -100% );
    -ms-transform: translateY( -100% );
    transform: translateY( -100% );
}

.main-header li.nav__item--current a {
	color: $brand-color-dark;
}


/* Responsive Menu Styles  */

.main-header #mobile-menu.cover {
	display: table;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: white;


	ul {
		display: table-cell;
		vertical-align: middle;
		height: 100vh;
	}

	li {
		display: block;
		padding: 0;
	}

	a {
		text-align: center;
		width: 100%;
		padding: 20px 0;
		font-size: 20px;
		display: block;

		&:hover {
			background: $brand-color;
			color: white;
			text-decoration: none;
		}

		&:active {
			background: $brand-color;
			color: white;
			text-decoration: none;
		}
	}
}