/* Projects Page Styles */

.projects {

	.row {
		max-width: 700px;
	}

	.hero-cont {
		height: 500px;
		position: relative;
	}

	.page-title {
		position: absolute;
		width: 50%;
		height: 50%;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		text-align: center;

		img {
			max-width: 300px;
			width: 100%;
			height: auto;
		}
	}

	.featured-project {
		text-align: center;

		img {
			margin-bottom: 40px;
		}
	}

	.featured-project-description {
		> p {
			padding: 10px 0;
		}

		.btn-holder {
			padding: 20px 0;
		}

		.btn-primary:nth-child(2) {
			margin-left: 10px;
		}
	}
}

@include breakpoint("small") {
	
	.projects .featured-project-description a.btn-primary {
		display: block;
	}

	.projects .featured-project-description .btn-primary:nth-child(2) {
		margin: 20px 0 0 0;
	}
}

.benefitfocus {
	background: #0077c8;

	h2 {
		color: white;
	}

	p {
		color: white;
	}

	.btn-holder a {
		color: white;
		background: #53BAD5;
		border: none;

		&:visited {
			color: white;
			background: #53BAD5;
		}

		&:hover {
			background: darken(#53BAD5, 10%);
			border: darken(#53BAD5, 10%);
		}
	}
}

.benefitfocus-media {
	background: #363A3A;

	h2 {
		color: white;
	}

	p {
		color: white;
	}

	.btn-holder a {
		color: white;
		background: #0077c8;
		border: none;

		&:visited {
			color: white;
			background: #0077c8;
		}

		&:hover {
			background: darken(#0077c8, 10%);
			border: darken(#0077c8, 10%);
		}
	}
}



.kate-mcdonald {
	background: #d9ae64;

	h2 {
		color: white;
	}

	p {
		color: white;

		a {
			color: darken(#d9ae64, 20%);

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.btn-holder a {
		color: white;
		background: darken(#d9ae64, 20%);
		border: none;

		&:visited {
			color: white;
			background: darken(#d9ae64, 20%);
		}

		&:hover {
			background: darken(#d9ae64, 30%);
		}
	}
}



.commish {
	background: #42bbee;

	h2 {
		color: white;
	}

	p {
		color: white;
	}

	a {
		color: white;
		background: $grey-color;
		border: none;

		&:visited {
			color: white;
			background: $grey-color;
		}

		&:hover {
			background: $grey-color-dark;
		}
	}
}

.sendsay {
	background: #b53b3b;

	h2 {
		color: white;
	}

	p {
		color: white;
	}

	.btn-holder a {
		color: white;
		background: darken(#b53b3b, 10%);
		border: none;

		&:visited {
			color: white;
			background: darken(#b53b3b, 10%);
		}

		&:hover {
			background: darken(#b53b3b, 30%);
			border: darken(#b53b3b, 30%);
		}
	}
}

.stage {
	background: #4298b5;

	h2 {
		color: white;
	}

	p {
		color: white;
	}

	.btn-holder a {
		color: white;
		background: #2d2d2d;
		border: none;

		&:visited {
			color: white;
			background: #2d2d2d;
		}

		&:hover {
			background: darken(#2d2d2d, 10%);
			border: darken(#2d2d2d, 10%);
		}
	}
}

.powell-peralta {
	background: #FFD94C;

	h2 {
		color: white;
	}

	p {
		color: white;

		a {
			color: darken(#FFD94C, 20%);

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.btn-holder a {
		color: white;
		background: darken(#FFD94C, 20%);
		border: none;

		&:visited {
			color: white;
			background: darken(#FFD94C, 20%);
		}

		&:hover {
			background: darken(#FFD94C, 25%);
		}
	}
}


/* Cloud Animation Styles */

#clouds {
	background: $brand-color-light;
	overflow: hidden;
	height: 100%;

	.cloud {
		width: 200px; 
		height: 60px;
		background: #fff;
		border-radius: 200px;
		-moz-border-radius: 200px;
		-webkit-border-radius: 200px;
		
		position: relative; 
	}

	.cloud:before, .cloud:after {
		content: '';
		position: absolute; 
		background: #fff;
		width: 100px; height: 80px;
		position: absolute; top: -15px; left: 10px;
		
		border-radius: 100px;
		-moz-border-radius: 100px;
		-webkit-border-radius: 100px;
		
		-webkit-transform: rotate(30deg);
		transform: rotate(30deg);
		-moz-transform: rotate(30deg);
	}

	.cloud:after {
		width: 120px; height: 120px;
		top: -55px; left: auto; right: 15px;
	}
}

/* Animation */
.x1 {
	-webkit-animation: moveclouds 10s linear infinite;
	-moz-animation: moveclouds 10s linear infinite;
	-o-animation: moveclouds 10s linear infinite;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
	left: 200px;
	top: 125px;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 0.6; 
	
	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
}

.x3 {
	left: -250px; top: 100px;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8; 
	
	-webkit-animation: moveclouds 15s linear infinite;
	-moz-animation: moveclouds 15s linear infinite;
	-o-animation: moveclouds 15s linear infinite;
}

.x4 {
	left: 470px; top: 200px;
	
	-webkit-transform: scale(0.75);
	-moz-transform: scale(0.75);
	transform: scale(0.75);
	opacity: 0.75; 
	
	-webkit-animation: moveclouds 18s linear infinite;
	-moz-animation: moveclouds 18s linear infinite;
	-o-animation: moveclouds 18s linear infinite;
}

.x5 {
	left: -150px; top: 150px;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8; 
	
	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
}

@-webkit-keyframes moveclouds {
	0% {margin-left: -20%;}
	100% {margin-left: 100%;}
}
@-moz-keyframes moveclouds {
	0% {margin-left: -20%;}
	100% {margin-left: 100%;}
}
@-o-keyframes moveclouds {
	0% {margin-left: -20%;}
	100% {margin-left: 100%;}
}


